{% extends 'base.html' %}

{% block content %}
    <div class="columns is-vcentered">
        <div class="column">
            <p class="title is-3">Tickers</p>
        </div>
        <div class="column">
            <a href="{% url 'new_ticker' %}" class="button is-info is-fullwidth">Add new +</a>
        </div>
    </div>
    <div class="columns is-multiline">
        {% for ticker in tickers %}
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            {% if ticker.imageUrl %}
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ ticker.imageUrl }}" alt="ticker image">
                                    </figure>
                                </div>
                            {% endif %}
                            <div class="media-content">
                                <p class="title is-4">{{ ticker.symbol }}</p>
                                <p class="subtitle is-6">{{ ticker.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="column">
                <h1 class="title is-3">No tickers found :(</h1>
                <span class="subtitle is-4">Try </span><a href="{% url 'new_ticker' %}" class="button is-info">Add new +</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}