{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Desafio Alpha</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/a9810b2607.js" crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% if user.is_authenticated %}
                <nav class="navbar py-5" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <h1 class="title is-3">Welcome, {{ user.get_username }}</h1>
                        </div>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                          </a>
                    </div>

                    <div class="navbar-menu" id="mainNavbar">
                        <div class="navbar-start">
                            <a href="{% url 'list_tickers' %}"
                                {% if request.path == '/tickers/' %}
                                    class="navbar-item has-text-link is-underlined has-text-weight-semibold"
                                {% else %}
                                    class="navbar-item has-text-info has-text-weight-semibold"
                                {% endif %} >
                                Tickers
                            </a>
                            <a href="{% url 'list_quotes' %}"
                                {% if request.path == '/quotes/' %}
                                    class="navbar-item has-text-link is-underlined has-text-weight-semibold"
                                {% else %}
                                    class="navbar-item has-text-info has-text-weight-semibold"
                                {% endif %} >
                                Quotes
                            </a>
                            <a href="{% url 'list_tunnels' %}"
                                {% if request.path == '/tunnels/' %}
                                    class="navbar-item has-text-link is-underlined has-text-weight-semibold"
                                {% else %}
                                    class="navbar-item has-text-info has-text-weight-semibold"
                                {% endif %} >
                                Tunnels
                            </a>
                        </div>
                    </div>
                
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-light" href="{% url 'changepassword' %}">
                                    Change Password
                                </a>
                                <a class="button is-info" href="{% url 'logout' %}">
                                    Logout
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endif %}
        </div>
        <div class="container">
            <!-- Content -->
            {% block content %}
            {% endblock %}
            <div class="notification-wrapper" id="notificationWrapper">
                
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                handleMessages();

                // Configure all "navbar-burger" elements
                $(".navbar-burger").click(function() {
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                });
            });

            function handleMessages(){
                var lMsg = '{% if messages|length > 0 %}true{% else %}false{% endif %}'
                if(lMsg == 'true'){
                    var messages = `{% if messages %}
                                        {% for message in messages %}
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                <div class="notification is-danger">
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                <div class="notification is-success">
                                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                                <div class="notification is-warning">
                                            {% endif %}
                                                <button class="delete"></button>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}`
                                    
                    document.getElementById("notificationWrapper").insertAdjacentHTML('afterbegin', messages);

                    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                        const $notification = $delete.parentNode;

                        $delete.addEventListener('click', () => {
                            $notification.parentNode.removeChild($notification);
                        });
                    });
                }
            }
        </script>
    </body>
</html>
