{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title is-2">Change password</h1>
            <form method="POST" action="{% url 'changepassword' %}">{% csrf_token %}
                {{ form_passw.non_field_errors }}
                <div class="field">
                    <div class="control">
                        <label class="label" for="{{ form_passw.old_password.id_for_label }}">{{ form_passw.old_password.label }}</label>
                        {{ form_passw.old_password }}
                        {% if form_passw.old_password.errors %}
                            <div class="notification is-danger">{{ form_passw.old_password.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label" for="{{ form_passw.new_password1.id_for_label }}">{{ form_passw.new_password1.label }}</label>
                        {{ form_passw.new_password1 }}
                        {% if form_passw.new_password1.errors %}
                            <div class="notification is-danger">{{ form_passw.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label" for="{{ form_passw.new_password2.id_for_label }}">{{ form_passw.new_password2.label }}</label>
                        {{ form_passw.new_password2 }}
                        {% if form_passw.new_password2.errors %}
                            <div class="notification is-danger">{{ form_passw.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="columns is-vcentered">
                    <div class="column">
                        <button type="submit" class="button is-info is-fullwidth">Change</button>
                    </div>
                    <div class="column">
                        <h4 class="title is-4 has-text-centered">Or</h4>
                    </div>
                    <div class="column">
                        <a href="{% url 'login' %}" class="button is-light is-fullwidth">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}